{% extends "base.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block body %}

	<div class="jumbotron jumbotron-green">
	   <div class="space">  
		    <div class="container">
		  		 <div class="row">
					  <div class="col-md-4"><img src="/images/nearme.jpg"></div>
					  <div class="col-md-4"><img src="/images/mosques.jpg"></div>
					  <div class="col-md-4"><img src="/images/maps.jpg"></div>
				  </div>
				  <div class="row">
					  <div class="col-md-4"><h3>Near Me</h3></div>
					  <div class="col-md-4"><h3>Mosques</h3></div>
					  <div class="col-md-4"><h3>Maps</h3></div>
				  </div>
			</div>
	   </div>	
	   <div class="text">
			<div class="row"><div class="col-md-12"><p class="lead text-center">This is a test</p></div>
	   </div>
	 </div>

	 <div class="jumbotron jumbotron-white">
	 	<h1 class="heading">About Us</h1>
              <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel iaculis diam, eu iaculis tellus. Nunc consectetur, mauris condimentum feugiat fermentum, felis massa venenatis felis, porta vehicula sapien tortor vel arcu. Nullam sit amet imperdiet metus. Curabitur sed mi nec enim tincidunt commodo. Nullam auctor condimentum massa. Proin consectetur lorem quis est pharetra, id eleifend lorem venenatis. Fusce vitae massa scelerisque, congue nunc ac, molestie turpis.</p>
              </div>
              <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel iaculis diam, eu iaculis tellus. Nunc consectetur, mauris condimentum feugiat fermentum, felis massa venenatis felis, porta vehicula sapien tortor vel arcu. Nullam sit amet imperdiet metus. Curabitur sed mi nec enim tincidunt commodo. Nullam auctor condimentum massa. Proin consectetur lorem quis est pharetra, id eleifend lorem venenatis. Fusce vitae massa scelerisque, congue nunc ac, molestie turpis.</p>
              </div>
              <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel iaculis diam, eu iaculis tellus. Nunc consectetur, mauris condimentum feugiat fermentum, felis massa venenatis felis, porta vehicula sapien tortor vel arcu. Nullam sit amet imperdiet metus. Curabitur sed mi nec enim tincidunt commodo. Nullam auctor condimentum massa. Proin consectetur lorem quis est pharetra, id eleifend lorem venenatis. Fusce vitae massa scelerisque, congue nunc ac, molestie turpis.</p>
              </div>

	 </div>	
  	
   
{% endblock %}